<mat-toolbar>
    <span>Auswahl</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="onNewRelatedElement()" >
      New
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
<mat-list>
    <a mat-list-item (click)="onSelectExistingElement(relationshipTarget.id)" routerLinkActive="active" *ngFor="let relationshipTarget of relationshipTargets">{{relationshipTarget.label}}</a>
</mat-list>
